@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}
@using Microsoft.AspNetCore.Http;
<div class="d-inline-flex flex-column justify-content-center mcontainer">
    <div class="border rounded p-1 tweetCon d-block">
        <div class="text-left mb-3">
            <h4 class="d-block ml-2 mt-1">Home</h4>
        </div>
        <div>
            <form asp-page-handler="Tweet" method="post" class="form" enctype="multipart/form-data">
                <div class="border-bottom pb-3">
                    <img class="d-inline-block rounded-circle" src="~/photo4.jpg" alt="" height="75px" width="75px" />
                    <div class="d-inline-flex align-items-center mt-1">
                        <textarea class="border-0 d-block h5" style="max-width: 520px" id="post" placeholder="What's happening?" asp-for="tweet"></textarea>
                    </div>
                    <div class="preview position-relative">
                        <button type="button" id="delete" onclick="hidePreview()"><img src="~/close_black_24dp.svg" class="d-inline-block" /></button>
                        <img id="file-ip-1-preview" />
                    </div>
                </div>
                <div class="form-input mt-2">
                    <label for="file-ip-1"></label>
                    <input type="file" asp-for="img" id="file-ip-1" accept="image/*" onchange="showPreview(event, this.id);">
                    <button type="submit" class="d-inline-block btn btn-info rounded-pill mb-3 pl-4 pr-4 float-right tweetButton">Tweet</button>
                    @*<button type="button" onclick="hidePreview()" class="d-inline-block btn btn-info rounded-pill mr-3 mb-3 pl-4 pr-4 float-right">Delete Picture</button>*@
                </div>
            </form>
        </div>
    </div>
    <div class="p-1 d-block tweetCon">
        <div class="border mt-3 css-table" style="width: 650px">
            @for (int i = 0; i < Model.tweets.Count; i++)
            {
                <div class="tablerow">
                    <div class="border-bottom pb-3">
                        <img class="d-inline-block rounded-circle ml-2 mt-2" src="~/photo4.jpg" alt="" height="75px" width="75px" />
                        <div class="d-inline-flex flex-column ml-2">
                            <h5 class="d-inline-block">@Model.tweets[i].name</h5>
                            <div class="d-inline-flex align-items-center mt-1">
                                <p class="d-inline-block">@Model.tweets[i].message</p>
                            </div>
                        </div>
                        <p class="d-inline-block float-right mr-2" style="color: darkgray; font-weight: 600; font-size: 17px;">@Model.tweets[i].date</p>
                        @if (Model.tweets[i].image != null)
                        {
                            <div class="preview position-relative">
                                <img src="data:image/png;base64, @Model.tweets[i].image" class="file-preview" id="image" />
                            </div>
                        }
                        <div class="form-input mt-2 mb-2 text-right mr-4" style="height: 30px;">
                            <!-- Button trigger modal -->
                            <a asp-page="index" asp-route-id="@Model.tweets[i].tweetID" class="d-inline-block btn btn-info rounded-pill pl-4 pr-4">Comments</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@if (HttpContext.Session.GetString("tweetID") != null)
{

    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Tweet</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-page-handler="Comment" method="post">
                    <div class="modal-body">
                        <div class="tablerow">
                            <div class="border-bottom pb-3">
                                <img class="d-inline-block rounded-circle ml-2 mt-2" src="~/photo4.jpg" alt="" height="75px" width="75px" />
                                <div class="d-inline-flex flex-column ml-2">
                                    <h5 class="d-inline-block">@Model.cName</h5>
                                    <div class="d-inline-flex align-items-center mt-1">
                                        <p class="d-inline-block">@Model.cMessage</p>
                                    </div>
                                </div>
                                <p class="d-inline-block float-right mr-2" style="color: darkgray; font-weight: 600; font-size: 17px;">@Model.cDate</p>
                                @if (Model.cImage != null)
                                {
                                    <div class="preview position-relative">
                                        <img src="data:image/png;base64, @Model.cImage" class="file-preview2" id="image" />
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="mt-2 pb-2 border-bottom">
                            <input asp-for="comment" type="text" class="border-0 p-2" placeholder="Tweet your reply" />
                            <button type="submit" class="btn btn-primary d-inline-block rounded-pill float-right">Reply</button>
                        </div>
                        @foreach (var item in Model.comments)
                        {
                            <div class="d-block mt-5">
                                <img class="d-inline-block rounded-circle ml-2 mt-2" src="~/photo4.jpg" alt="" height="75px" width="75px" />
                                <div class="d-inline-flex flex-column ml-2">
                                    <h5 class="d-inline-block">@item.name</h5>
                                    <div class="d-inline-flex align-items-center mt-1">
                                        <p class="d-inline-block">@item.comment</p>
                                    </div>
                                </div>
                                <p class="d-inline-block float-right mr-2" style="color: darkgray; font-weight: 600; font-size: 17px;">@item.date</p>
                            </div>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
}


<script type="text/javascript">

window.onload = function () {
    load(@Model.tweetID)
    };

//#region urlmodify
    /*
function interval () {
    setInterval(oneSecondFunction, 1000);
    interval;
}

    function oneSecondFunction() {
        console.log(1)
    if (document.getElementById('exampleModalLong').style.display == 'none') {
        history.replaceState("v", "", "localhost:44304/");
    }
}

function getPathFromUrl(url) {
    return url.split(/[?#]/)[0];
}
*/
//#endregion
</script>